<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }} | {{ site:name }} </title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        <link rel="icon" type="image/x-icon" href="/assets/functional-gaps.svg">
    </head>
    <body class="flex flex-col min-h-screen text-dark overflow-x-hidden bg-slate-50">
        {{ template_content }}
    </body>
</html>
